<!DOCTYPE html>
<html>
<head>
    <title>Verificar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <h1 id="nombre">Verificar Contraseña</h1>
        <label for="password">Ingrese una contraseña:</label>
        <input type="password" id="password" name="password">
        <button onclick="verificarContrasena()">Verificar</button>
        <p id="result"></p>
    </div>

    <script>
        async function verificarContrasena() {
            var password = document.getElementById("password").value;
            var response = await fetch('/verificar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({password: password})
            });
            var data = await response.json();
            document.getElementById("result").textContent = data.result;
        }
    </script>
</body>
</html>
