<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Añadir Contraseña</title>
</head>
<body>
    <h1>Añadir Contraseña</h1>
    <form method="post">
        <label for="service">Servicio:</label>
        <input type="text" id="service" name="service"><br><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Añadir">
    </form>
    <a href="{{ url_for('index') }}">Volver al inicio</a>
</body>
</html>
